.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__logo-block {
  max-width: 140px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
}

.header__logo {
  width: 140px;
  height: 24px;
}

.header__logo-text {
  margin: 0;
  margin-top: 10px;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 10px;
  color: #e4e5ea;
}

.header__navigation {
  display: flex;
  flex-direction: row;
  gap: 30px;
  color: white;
}

.header__navigation-button {
  max-height: 25px;
  padding: 0;
  background-color: transparent;
  border: none;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  color: white;
}

.header__navigation-button:hover {
  cursor: pointer;
}

@media screen and (max-width: 1230px) {
  .header {
    padding: 20px 15px 20px 15px;
  }
}

@media screen and (max-width: 720px) {
  .header__logo-block {
    display: none;
  }
  .header__navigation {
    width: 100%;
    justify-content: space-between;
    gap: 0;
  }
  .header__navigation-button {
    font-size: 12px;
  }
  .header__navigation-mobile {
    display: none;
  }
}
